<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Order Now</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/menu}">Our Menu</a></li>
                <li><a th:href="@{/promo}">Promo</a></li>
                <li><a th:href="@{/order}">Order</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Place your order now and enjoy delicious food at home.</p>
    </main>
</body>
</html>
